body {
  background-color: #181719;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: -webkit-fill-available;
}
header {
  height: 60px;
}
main {
  height: -webkit-fill-available;
}
.wrapper {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-title {
  font-family: Crimson Pro;
  color: white;
  text-transform: uppercase;
}
.header__nav-bordered {
  /* position: absolute;
  top: 50%; */
  /* transform: translateY(-50%); */
  margin: 15px 0;
  border: 1px solid white;
  width: 130px;
  /* height: 20px; */
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  font-family: Crimson Pro;
}
.header__nav-bar {
  display: flex;
  align-items: center;
  line-height: 20px;
}
.burger-button {
  display: none;
}
.menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  line-height: 20px;
  list-style-type: none;
}
.menu li {
    margin: 0;
    display: flex;
    justify-content: center;
}
.header__nav-item:nth-child(1) {
  /* float: left;    */
  width: 55px;
}
.header__nav-item:nth-child(2) {
  /* float: left;    */
  width: 90px;
}
.header__nav-item:nth-child(3) {
  /* float: left;    */
  width: 50px;
}
.header__nav-item:nth-child(4) {
  /* float: left;    */
  width: 65px;
}
.header__nav-item a {
  text-decoration: none;
  color: white;
  transition: .2s ease;
  font-family: Montserrat;
  font-weight: 500;
  transition: .2s ease;
  padding-bottom: 5px;
}
.header__nav-item a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__nav-item a:hover:after { 
  width: 100%; 
  left: 0; 
}
.header__nav-item a:hover{
  font-weight: 700;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .2s ease in ease-in-out;
    background-color: #fff;
}
.main__block {
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}
.main__info {
  line-height: 50px;
}
.main__title {
  color: white;
  font-family: Lora;
  font-size: 36px;
}
.main__text {
  color: white;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  width: 290px;
  line-height: 25px;
}
.main__link {
  color: white;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 700px;
}
.main__banner {
  position: relative;
  margin-bottom: 80px;
}
.main__image {
  width: 620px;
  object-fit: contain;
}
.main__account {
  position: absolute;
  width: 370px;
  right: 40px;
  transform: translateY(-50%);
  background-color: #181719;
  box-shadow: 0 8px 2px -2px black;
}
.main__account-content {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
.blank {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
}
.image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
}
.fullname {
  color: #fff;
  font-family: Montserrat;
  font-weight: 500;
}
.blank__text {
  color: #828282;
  font-family: Montserrat;
  font-weight: 500;
}
.blank__info {
  line-height: 8px;
}
.develop-date {
  width: 220px;
  color: #fff;
  padding-bottom: 10px;
  font-family: Lora;
  font-weight: 700;
  font-size: 22px;
}
footer{
  margin-top: auto;
  height: -webkit-fill-available;
}
.footer__text {
  display: flex;
  height: 60px;
  bottom: 0;
  font-family: Montserrat;
  font-weight: 500;
  color: #a9a9a9;
  text-align: center;
  align-items: center;
  justify-content: center
}
.footer__link {
  font-weight: 700;
  text-decoration: underline;
  color: #a9a9a9;
}
@media screen and (max-width: 480px) {
  .wrapper {
    width: 100vw;
    padding: 0 10px;
  }
  main{
    flex-grow: 1;
    position: relative;
  }
  .header__nav-bar {
    padding: 0;
  }
  .header__nav-item a {
    text-decoration: none;
    z-index: 40;
  }
  .header__nav-item{
    font-size: 36px;
    height: 50px;
    width: 100%;
  }

  .header__nav-item:nth-child(1) {
    /* float: left;    */
    width: 100%;
  }
  .header__nav-item:nth-child(2) {
    /* float: left;    */
    width: 100%;
  }
  .header__nav-item:nth-child(3) {
    /* float: left;    */
    width: 100%;
  }
  .header__nav-item:nth-child(4) {
    /* float: left;    */
    width: 100%;
  }
  .hamburger {
    z-index: 30;
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg); 
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); 
  }
  .menu{
    display: none;
    position: absolute;
    text-align: center;
    align-items: center;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;  
    min-height: -webkit-fill-available;
    transition: .2s;
    background-color: #181719;
    z-index: 10;
  }
  .header__nav-item{
    margin: 16px 0;

  }
  .menu.active{
    display: flex;
    justify-content: center;
  }
  .menu.active .popup{
    position: absolute;
    height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    background-color: #181719;
  }
  .main__block {
    display: flex;
    flex-direction: column;
  }
  .main__block {
    padding-top: 40px;
  }
  .main__title {
    font-size: 28px;
  }
  .main__text {
    font-size: 12px;
  }
  .main__banner {
    padding: 40px 0px 0px 0px;
  }
  .main__image {
    width: 370px;
    object-fit: contain;
  }
  .main__link {
    font-size: 14px;
  }

  .main__account {
    position: absolute;
    width: 290px;
    right: 40px;
    transform: translateY(-50%);
    background-color: #181719;
    box-shadow: 0 8px 2px -2px black;
  }
  .develop-date {
    font-size: 18px;
  }
  .blank {
    padding: 5px 0px;
  }
  .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
  }
  .blank__info {
    line-height: 5px;
  }
  .fullname {
    font-size: 14px;
  }
  .blank__text {
    font-size: 12px;
  }
  .footer__text {
    padding: 0;
    font-size: 14px;
    margin-top: auto;
    font-family: Montserrat;
    font-weight: 500;
    color: #a9a9a9;
    text-align: center;
  }
}
